<!-- ======= Footer ======= -->
<footer id="footer">

  
  

  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>NEXYM</h3>
          <p>
             <br>
             Technopole de Monastir.<br>
           <br><br>
            <strong>Phone:</strong> +216 26999988<br>
            <strong>Email:</strong> heythem.najjar@nexym.net<br>
          </p>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4></h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Nos Services</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Nos Réseaux Sociaux</h4>
         
          <div class="social-links mt-3">
            <a href="https://twitter.com/?lang=fr" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="https://www.facebook.com/" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="https://www.instagram.com/" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="https://www.skype.com/fr/" class="google-plus"><i class="bx bxl-skype"></i></a>
            <a href="https://fr.linkedin.com/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container footer-bottom clearfix">
    <div class="copyright">
      &copy; Copyright <strong><span>NEXYM</span></strong>. All Rights Reserved
    </div>
    
  </div>
</footer>