<section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>A propos</h2>
      </div>

      <div class="row content">
        <div class="col-lg-100" ></div>
          <div class="row justify-content-start">
           
            <div class="col-4">
            
              NEXYM est une Digital Factory Tunisienne sise au
              Technopole de Monastir. En se basant sur notre
              expérience, notre savoir-faire et notre plateforme
              technologique, nous vous garantissons un service
              rapide et de qualité.
            
            </div>
            <div class="col-4">
              Nous apportons notre expertise Internet auprès des plus
            grandes sociétés pour les aider à augmenter leur chiffre
           d’affaires et réduire leurs coûts et enrichir leur relation clients.
            </div>
            <div class="col-4">
              Opérant à l’international, NEXYM prend en charge des projets
              forfaitaires ou des missions en régie et intervient sur toute la chaîne
              de valeur du système d’information.
            </div>
          </div>
          <div class="row justify-content-end">
            
            <div class="col-15">
              <strong>
              NEXYM se distingue par son positionnement sur les projets à haute
              valeur ajoutée et sa double expertise technique et métier. Nos équipes
              d’ingénieurs et d’experts vous offrent des solutions clés en main étudiées
              sur-mesure pour répondre à vos besoins et vos contraintes budgétaires.
              
              Expertise, réactivité, flexibilite et qualité sont les principaux atouts que
              nous défendons au quotidien afin que nos solutions informatiques soient
              pour vous un réel outil de productivité et de croissance.
            </strong>
            </div>
          </div>
         
            
          
            
      
          
          </div>
          </div>
          </section>