<section id="services" class="services section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Nos SERVICES</h2>
      <p id ="pid" data-aos="zoom-in" data-aos-delay="300" > Nous sommes passionnés et nous aimons relever de nouveaux défis !</p>
   
    </div>

    <div class="row">
      <div class="col-xl-2 col-md-7 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">
          <div class="icon"><i class="bx bxl-dev-to"></i></div>
          <h4><a href=""> Web et Mobile</a></h4>
          
        </div>
      </div>

      <div class="col-xl-2 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box">
          <div class="icon"><i class="bx bxs-bulb"></i></div>
          <h4><a href="">Intelligence Artificielle</a></h4>
        </div>
      </div>

      <div class="col-xl-2 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-network-chart"></i></div>
          <h4><a href="">Réseaux sociaux</a></h4>
        </div>
      </div>
      
      <div class="col-xl-2 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
        <div class="icon-box">
          <div class="icon"><i class="bx bxs-area"></i></div>
          <h4><a href="">Integration ODOO</a></h4>
        </div>
      </div>
      <div class="col-xl-2 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
        <div class="icon-box">
          <div class="icon"><i class="bx bxs-data"></i></div>
          <h4><a href="">Bases de données</a></h4>
        </div>
      </div>

      <div class="col-xl-2 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
        <div class="icon-box">
          <div class="icon"><i class="bx bxl-digitalocean"></i></div>
          <h4><a href="">Digital Factory</a></h4>
        </div>
      </div>


    </div>

  </div>
</section><!-- End Services Section -->


